URxvt.scrollBar: false
URxvt*background: black
URxvt*foreground: #6096bf
URxvt*color12: rgb:5c/5c/ff
URxvt*transparent: true
URxvt*shading: 15
URxvt*skipBuiltinGlyphs:true
urxvt.cursorBlink:true
URxvt*saveLines: 5000
URxvt*skipBuiltinGlyphs:    true
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Up: \033[1;5B
URxvt.keysym.C-Down: \033[1;5A
URxvt.keysym.C-S-Left: \033[1;6D
URxvt.keysym.C-S-Right: \033[1;6C
URxvt.keysym.C-S-Up: \033[1;6B
URxvt.keysym.C-S-Down: \033[1;6A
